
.cart-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 0;
    background-color: var(--primary-color);
}

.cart-content {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.cart-title {
    outline: 0;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.cart-items {
    margin-top: 1em;
}

.cart-title h2 {
    display: inline-block;
    width: 10em;
}

.message {
    text-align: center;
}

.message p {
    font-size: 2em;
}

.close-symbol {
    width: 3em;
    height: 1em;
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.first-line {
    width: 100%;
    height: 0.15em;
    background-color: black;
    transform: rotate(140deg);
    position: absolute;
}

.second-line {
    width: 100%;
    height: 0.15em;
    background-color: black;
    transform: rotate(-140deg);
}

.purchase {
    margin-top: 0.5em;
}

.purchase .total span {
    font-size: 1.8em;
}

.purchase-btn button {
    width: 100%;
    height: 5.5em;
    background-color: var(--accent-color);
    margin-top: 1em;
    border-radius: 0.8em;
    border: 0;
    cursor: pointer;
}

.purchase-btn button span {
    font-size: 2em;
    color: var(--white-color);
}

.line {
    width: 100%;
    height: 0.15em;
    background-color: black;
    margin-top: 0.5em;
}

@media only screen and (min-width: 800px) {
    .cart-menu {
        width: 30%;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}