.carousel {
    margin-top: 1.5em;
    width: 95%;
    overflow: hidden;
}

.carousel button {
    visibility: hidden;
}

.cards {
    width: 1000%;
    background-color: azure;
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 600px) {
    .carousel {
        width: 90%;
        overflow: hidden;
        position: relative;
    }

    .cards {
        width: 200%;
        flex-wrap: nowrap;
    }

    .carousel button {
        position: absolute;
        visibility: visible;
    }

    .btn-left {
        left: 0;
    }

    .btn-right {
        right: 0;
    }
}