:root {
    --black-color: #0D0801;
    --white-color: #FFF1DF;
    --dark-primary-color: #B09676;
    --primary-color: #D3BEA4;
    --text-titles-color: #715430;
    --font-color: #3B2F2F;
    --nav-footer-text-color: #D3BEA4;
    --accent-color: #213948;
    --accent-dark-color: #1a2b35;
    --text-accent-color: #3A5D6C;
    --text-accent-dark-color: #2D4653; 
    --input-color: #373634;

    --title-font: 'Pacifico';
    --main-font: 'Poppins';
}

* {
    font-family: var(--main-font);
    font-weight: 400;
}